<head>
        <title> index </title>
        <link rel = "stylesheet" type="text/css" href="paint.css">
    </head>
        
    <body>
        <h1 id = "title">差點讓我跟著祖先一起躺在棺材過清明節之106062391的小畫家</h1>
        <p id = "changecolor">Choose your colors here!</p>
        <p id = "changefont">FontSize/TextSize/ShapeSize</p>
        <p id = "curfontsize">Current Font Size: <span id = "size"></span></p>
        <p id = "IncludingText">Including Text</p>
        <p id = "boldd">bold</p>
        <select id = "TextStyleSelect">
            <option>normal</option>
            <option>italic</option>
            <option>oblique</option>
        </select>
        <select id = "TextStyleSelect2">
                <option>Arial</option>
                <option>Arial Black</option>
                <option>Verdana</option>
                <option>Courier</option>
                <option>Segoe script</option>
                <option>Webdings</option>
            </select>
        <a id = "save" href="#" download="yourdrawing.png" Save your drawing>
                <button type="button" onclick="download()">Save</button>
        </a>
        <p id = "shapes">Add shapes</p>
        <p id = "UndoRedo">Undo & Redo</p>
    </body>

    <div style="width: 1500px; height: 750px; border-style:double; margin-top: 50px; border-width: 5px" id="drawing">
            <canvas id="drawboard" width="1500px" height="750px" class = "DrawMode" background-color:white></canvas>
    </div>

<input type = "button" id = "clear" value = "clear">
<area shape="rect" coords = "0, 0, 750, 1500" href="yourdrawing.jpg" download> 
<input type = "file" id = "upload" accept="image/*">

<div id = "colors">
        <input type = "button" id = "black">
        <input type = "button" id = "pink">
        <input type = "button" id = "red">
        <input type = "button" id = "orange">
        <input type = "button" id = "yellow">
        <input type = "button" id = "green">
        <input type = "button" id = "blue">
        <input type = "button" id = "indigo">
        <input type = "button" id = "purple">
        <input type = "button" id = "eraser" onclick="Eraser()">
        <input type = "button" id = "pencil" onclick ="Pencil()">
    </div>

<input type = "range" min = "1" max = "50" value = "2" id = "fontrange" onchange="FontSize()">
<input type = "text" id = "text" value="text">
<input type = "color" value = "#000000" id = "curColor" onchange="Changecolorbycolor()">
<input type = "checkbox" id="bold"><br>
<input type = "button" id ="includethis" value="include text" onclick="Addingtext()">
<input type = "button" id = "rectangle"  onclick = "Addingrectangle()">
<input type = "button" id = "triangle" onclick = "Addingtriangle()">
<input type = "button" id = "circle" onclick = "AddingCircle()">
<input type = "button" id = "undo" onclick ="undo()">
<input type = "button" id = "redo" onclick ="redo()">



<script src = "paint.js"></script>  