body {
    background-image: url("dango.png");
    background-repeat: no-repeat;
    background-size:100%
}

#drawboard {
    background-color: white;
}

#title {
    text-align: left;
    font-style: italic;
    font-size: 50px;
    top: 10px;
}

#black {
    position: absolute;
    right: 300px;
    top: 185px;
    width: 50px;
    height: 50px;
    background-color: black;
    cursor: url('⑨\ touhou.cur'), auto;
}

#pink {
    position: absolute;
    right: 230px;
    top: 185px;
    width: 50px;
    height: 50px;
    background-color: pink;
    cursor: url('⑨\ touhou.cur'), auto;
}

#red {
    position: absolute;
    right: 160px;
    top: 185px;
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: url('⑨\ touhou.cur'), auto;
} 

#orange {
    position: absolute;
    right: 90px;
    top: 185px;
    width: 50px;
    height: 50px;
    background-color:orange;
    cursor: url('⑨\ touhou.cur'), auto;
}

#yellow {
    position: absolute;
    right: 300px;
    top: 250px;
    width: 50px;
    height: 50px;
    background-color: yellow;
    cursor: url('⑨\ touhou.cur'), auto;
}

#green {
    position: absolute;
    right: 230px;
    top: 250px;
    width: 50px;
    height: 50px;
    background-color: green;
    cursor: url('⑨\ touhou.cur'), auto;
}

#blue {
    position: absolute;
    right: 160px;
    top: 250px;
    width: 50px;
    height: 50px;
    background-color: blue;
    cursor: url('⑨\ touhou.cur'), auto;
}

#indigo {
    position: absolute;
    right: 90px;
    top: 250px;
    width: 50px;
    height: 50px;
    background-color: indigo;
    cursor: url('⑨\ touhou.cur'), auto;
}

#purple {
    position: absolute;
    right: 20px;
    top: 250px;
    width: 50px;
    height: 50px;
    background-color: purple;
    cursor: url('⑨\ touhou.cur'), auto;
}

#eraser {
    position: absolute;
    right: 20px;
    top: 185px;
    width: 50px;
    height: 50px;
    cursor: url('magicstick.cur'), auto;
    background: url('eraser.jpg') no-repeat;
    background-size: 100%;
}

#pencil {
    position: absolute;
    right: 20px;
    top: 115px;
    width: 50px;
    height: 50px;
    cursor: url('⑨\ touhou.cur'), auto;
    background: url('pen.png') no-repeat;
    background-size:100%;
}

#changecolor {
    position: absolute;
    text-align: right;
    font-size: 25px;
    letter-spacing: 2px;
    right: 85px;
    top: 80px;
}

#changefont {
    position: absolute;
    text-align: right;
    font-size: 25px;
    right: 35px;
    top: 300px;
}

#fontrange {
    position: absolute;
    right: 20px;
    top: 350px;
    width: 300px;
}

#curfontsize {
    position: absolute;
    text-align: right;
    font-size: 25px;
    right: 125px;
    top: 350px;
}

#curColor {
    position: absolute;
    right: 150px;
    top: 150px;
}

#IncludingText {
    position: absolute;
    text-align: right;
    font-size: 25px;
    right: 125px;
    top: 400px;
}

#text {
    position: absolute;
    text-align: left;
    font-size: 25px;
    right: 30px;
    top: 475px;
}

#includethis {
    position: absolute;
    text-align: center;
    font-size: 25px;
    right: 20px;
    top: 535px;
    width: 150px;
    cursor: url('rem.cur'), auto;
}

#clear { 
    position: absolute;
    left: 10px;
    bottom: 45px;
}

#save {
    position: absolute;
    left: 70px;
    bottom: 45px;
}

#upload {
    position: absolute;
    left: 140px;
    bottom: 45px;
}

#rectangle {
    position: absolute;
    right: 270px;
    top: 650px;
    width: 75px;
    height: 50px;
    cursor: url('nyan\ cat.cur'), auto;
    background: url('rectangle.png');
    background-size: 100%;
    background-position-y: -10px; 
}

#triangle {
    position: absolute;
    right: 165px;
    top: 650px;
    width: 75px;
    height: 50px;
    cursor: url('illuminati.cur'), auto;
    background: url('triangle.png') no-repeat;
    background-size: 80%;
    background-position-y: 0px;
    background-position-x: 5px;
}

#circle {
    position: absolute;
    right: 60px;
    top: 650px;
    width: 75px;
    height: 50px;
    cursor: url('pokeball.cur'), auto;
    background: url('circle.jpg');
    background-size: 95%;
    background-position-y: -15px;
}

#shapes {
    position: absolute;
    text-align: right;
    font-size: 25px;
    right: 150px;
    top: 570px;
}

#UndoRedo {
    position: absolute;
    text-align: right;
    font-size: 25px;
    right: 120px;
    top: 700px;
}

#undo {
    position: absolute;
    right: 220px;
    top: 765px;
    width: 75px;
    height: 50px;
    cursor: url('batman.cur'), auto;
    background:url('undo.png') no-repeat;
    background-size: 90%;
    background-position-x: 5px;
    background-position-y: -10px;
}

#redo {
    position: absolute;
    right: 80px;
    top: 765px;
    width: 75px;
    height: 50px;
    cursor: url('uganda.cur'), auto;
    background: url('redo.jpg') no-repeat;
    background-size: 125%;
    background-position-y: 2px;
}

#TextStyleSelect {
    position: absolute;
    text-align: center;
    font-size: 15px;
    right: 280px;
    top: 535px;
    width: 75px;
    
}

#TextStyleSelect2 {
    position: absolute;
    text-align: center;
    font-size: 15px;
    right: 175px;
    top: 535px;
    width: 100px;
}

#bold {
    position: absolute;
    right: 330px;
    top: 515px;
}

#boldd{
    position: absolute;
    right: 300px;
    top: 500px;
}

.DrawMode {
    cursor: url('⑨\ touhou.cur'), auto;
}

.erasermode {
    cursor: url('magicstick.cur'), auto;
}

.RectangleMode {
    cursor: url('nyan\ cat.cur'), auto;
}

.TriangleMode {
    cursor: url('illuminati.cur'), auto;
}

.CircleMode {
    cursor: url('pokeball.cur'), auto;
}

.TextMode {
    cursor: url('rem.cur'), auto;
}